.modalContainer {
  width: 510px;
  height: 510px;
  color: white;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}


.modalContainer::before,
.modalContainer::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid white;
  pointer-events: none;
}

.modalContainer::after {
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}

.modalLogo {
  margin: auto;
  width: 375px;
  height: 50px;
}

.modalSubLogo {
  margin-top: 30px;
}

.loginImageBox {
  width: 336px;
  height: 150px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid white;
}

.loginRegisterLink {
  width: 112px;
  height: 30px;
  margin: auto;
  text-align: center;
  margin-top: 15px;
}

.loginRegisterLink>span:hover {
  color: grey;
}

.inputBox {
  width: 336px;
  height: 30px;
  border: 2px solid white;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  font-family: 'NEODGM', sans-serif;
}

/* register */
.registerCheck {
  width: 332px;
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.buttonContainer {
  width: 158px;
  height: 60px;
  border: 5px solid white;
  /* 투명한 테두리 생성 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}
/* Main */
.mainContainer {
  width: 868px;
  height: 690px;
  color: white;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}

.mainContainer::before,
.mainContainer::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid white;
  pointer-events: none;
}

.mainContainer::after {
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}

.mainTodoBox {
  width: 808px;
  height: 377px;
  border: 2px solid white;
  margin: auto;
  margin-top: 30px;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
}

.todoContentBox {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  border: 1px solid white;
  box-sizing: border-box;
}

.todoContentBox:hover {
  opacity: 0.8;
}
.todoText {
  flex: 0.8;
  box-sizing: border-box;
  padding-left: 20px;
  display: flex;
  justify-content: left;
  align-items: center;

}

.todoDate {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoCheckButton {
  width: 40px;
  height: 40px;
  background-color: black;
  margin: 5px;
  border: 1px solid white;
}

.todoDeleteButton {
  width: 40px;
  height: 40px;
  background-color: black;
  margin: 5px;
  margin-left: 0px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoDeleteButton > img {
  width: 26px;
  height: 26px;
}

.modalBackground {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  z-index: 10;
}

.textField {
  width: 335px;
  height: 191px;
  margin: auto;
  margin-top: 20px;
  background-color: black;
  color: white;
  border: 2px solid white;
  font-family: 'NEODGM', sans-serif;
  box-sizing: border-box;
  padding: 20px;
}